

@media screen and (max-width: 768px){

.hero {
    height: auto;
    aspect-ratio: 16 / 9;
  }

  .hero-video {
    object-fit: contain;
  }

  .about {
  padding: 10px;
  border-radius: 12px;
}

.about-title {
  font-size: 16px;
  margin-bottom: 8px;

}

.about-wrapper {
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

.about img {
  width: 110px;
  margin-bottom: 6px;
}

.about-text {
  width: 100%;
  font-size: 13px;
}

  .profile-box {
    position: static;
    transform: none;
    margin-bottom: 10px;
    margin-top: 10px;
    font-size: 12px;
    padding: 14px;
  }

  .profile-title {
    font-size: 15px;
    text-align: center;
  }

  .profile-text {
    font-size: 12px;
    text-align: justify;
  }

  .page-intro {
    margin-top: 5%;
    padding: 14px;
  }

  .page-intro h1 {
    font-size: 30px;
  }

  .page-intro p {
    font-size: 20px;
  }

  .right-links{
    display: none;
  }

  .logo-grid {
    grid-template-columns: repeat(2, 1fr); /* 2 kolom di tablet/smartphone */
    gap: 10px;
  }

   .admission-title h2 {
    font-size: 24px;
  }

  .img-sec img {
    max-width: 90%;
  }

   .column {
    flex: 1 0 100%; /* 1 per row HP kecil */
    max-width: 100%;
  }

  #myBtnContainer .btn {
    font-size: 12px;
    padding: 8px 12px;
    margin-top: 35px;
  }

  .container .overlay .text {
    font-size: 16px;
    padding: 8px;
  }

  .row {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  margin-top: 20px;}
}
